@import './tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  display: flex;
  flex: 1;
  position: relative;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  padding: 0PX;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px;
}

@font-face {
  font-family: 'New World';
  src: url('../font/IMFellDWPica-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    @apply font-new-world;
    font-weight: bolder;
    font-size: 1.8rem;
    color: rgb(192,161,0);
}

h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
    @apply font-new-world;
    font-size: 1.0em;
    @apply text-black;
}

* > span {
    @apply font-mono;
    font-size: 1.0em;
    color: #fefefe;
}

thead > tr > th > span, thead > tr > th, tbody > tr > td > span, tbody > tr > td {
    @apply font-new-world;
    font-size: 18px !important;
    letter-spacing: -1px;
    color: #fefefe;
}

p, a, p > span, a > span {
    @apply font-mono;
    font-size: 18px !important;
    letter-spacing: -2px;
    color: rgb(192,161,0);
}

span#minimap-current-time {
    @apply font-new-world lowercase;
}

div#minimap-info {
    @apply font-new-world;
    font-size: 14px !important;
    letter-spacing: -1px;
    @apply text-slate-400
}

span#zoomIn-hotkey, span#zoomOut-hotkey, span#settings-hotkey {
    @apply font-mono;
    @apply border-0 border-rose-500 text-rose-400;
    @apply px-1;
    border-radius: 0.1rem;
}

.pin_row {
    @apply flex flex-row;
    @apply items-start;
    @apply px-1;
    @apply py-1;
    @apply text-rose-400;
    @apply rounded;
}

.pin_column {
    @apply flex flex-col;
    @apply items-start;
    @apply px-1;
    @apply py-1;
    @apply rounded;
    @apply hover:text-white;
}