body {
  display: flex;
  flex: 1;
  position: relative;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  padding-top: 50px;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px;
}

@font-face {
  font-family: 'New World';
  src: url('./font/IMFellDWPica-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'New World', sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
    @apply text-yellow;
}

h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
    font-family: 'New World', sans-serif;
    font-size: 1.0em;
    @apply text-black;
}

* > span {
    font-family: inherit;
    font-size: 1.0em;
    color: #fefefe;
}

thead > tr > th > span, thead > tr > th, tbody > tr > td > span, tbody > tr > td {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px !important;
    letter-spacing: -1px;
    color: #fefefe;
}

p, a, p > span, a > span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 18px !important;
    letter-spacing: -2px;
    color: rgb(192,161,0);
}

div#minimap-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px !important;
    letter-spacing: -2px;
    color: rgb(192,161,0);
}

span#zoomIn-hotkey, span#zoomOut-hotkey {
    border: 2px solid rgb(192,161,0);
    background-color: #000;
    @apply text-yellow rounded-md px-2 font-normal;
}

.pin_row {
    @apply flex flex-row;
    @apply items-start;
    @apply px-1;
    @apply py-1;
    @apply text-yellow;
    @apply rounded;
}

.pin_column {
    @apply flex flex-col;
    @apply items-start;
    @apply px-1;
    @apply py-1;
    @apply rounded;
    @apply hover:text-yellow;
}