@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px transparent;
  border-bottom-color: rgb(192,161,0);
  border-radius: 50%;
  content: "";
  height: 40px;
  position: relative;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}